.card-value {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 270px;
  width: 100%;
  padding: 24px 12px;
  background-color: #fff;
  box-shadow: var(--card-shadow);
  z-index: 2;
  transition: .5s;
}

.rectangle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30%;
  left: 55%;
  opacity: .5;
}